* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  display: flex;
  width: 900px;
  height: 600px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-section {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-size: 1.6em;
  margin-bottom: 90px;
  color: #000;
  font-weight: bolder;
  margin-bottom: 5rem;
}

.form-section h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #222;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form label {
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.register-form input {
  margin-top: 0.3rem;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s;
}

.register-form input:focus {
  border-color: #4f63e3;
}

.btn-register {
  margin-top: 2rem;
  background: #4f63e3;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-register:hover {
  background: #3a4ed5;
}

.login-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.login-text a {
  color: #4f63e3;
  text-decoration: none;
  font-weight: 500;
}

.login-text a:hover {
  text-decoration: underline;
}

.image-section {
  flex: 1;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h2-regis {
    text-align: center;
}